main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(0deg,
            hsl(68deg 55% 31%) 0%,
            hsl(64deg 49% 33%) 5%,
            hsl(60deg 44% 35%) 12%,
            hsl(56deg 42% 38%) 20%,
            hsl(52deg 39% 40%) 33%,
            hsl(49deg 36% 43%) 57%,
            hsl(46deg 34% 46%) 73%,
            hsl(43deg 32% 49%) 84%,
            hsl(41deg 31% 51%) 93%,
            hsl(38deg 31% 54%) 100%);
    padding: 1%;
    border: 5px solid black;
    border-radius: 20px;
    margin: 15px;
}

main p {
    text-align: center;
    font-size: 30px;
    margin: 10px;

}

.wrapperRoles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0d8;
    padding: 1%;
    width: 100%;
    border: 5px solid black;
    border-radius: 20px;
    margin: 10px;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin: 10px;
}

.listaRoles{
    display: flex;
    width:80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

form {
    display: flex;
    width:60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

input {
    font-family: "Micro 5", sans-serif;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 30px;
    width: 100%;
}

option, select{
    font-family: "Micro 5", sans-serif;
    font-size:30px;
}


label {
    font-size: 35px;
    margin: 10px;
}

button {
    font-family: "Micro 5", sans-serif;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;  
    background-color: #7F653A;
    color: white;
    width: 25%;
}

select {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 30px;
    width: 100%;
}

.btnsub {
    background-color: #7F653A;
    color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    transition: 0.5s;
}

.btnsub:hover {
    background-color: #584E12;
    scale: 1.1;
}

#error {
    color: rgb(124, 26, 26);
    font-size: 30px;
    border: 2px solid rgb(124, 26, 26);
    padding: 10px;
    text-align: center;
}