{% extends "plantilla.html" %}

{% block head %}

<title> Granarutas </title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Micro+5&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/style/portada_layout.css">
<link rel="stylesheet" href="/style/responsive.css">
<link rel="stylesheet" href="/style/listadoActs.css">
<link rel="stylesheet" href="/style/comentarios.css">
<script src="https://kit.fontawesome.com/b9c8f9a610.js" crossorigin="anonymous"></script>
<link rel="icon" href="/icon/placeholder.jpg" type="image/x-icon">

{% endblock %}

{% block scripts %}

<script src="/js/actualizarListadoActsComents.js"></script>
<script src="/js/afirmarBorrar.js"></script>

{% endblock %}

{% block shared %}

<main class="wrapperActs">

    {% if usuario['rol'] == 'SUPERUSUARIO' %}

    <h1 class="h1-list">Actividades</h1>
    <!-- Buscar actividad por título, habrá un listener que vaya actualizando la lista  -->
    <input type="text" id="search" placeholder="Los Bolos ..." oninput="actualizarListaActividades()">

    <section class="listaActs">

        <h2>Ninguna actividad coincidente ...</h2>

        {% if error %}
        <p id="error">{{ error }}</p>
        {% endif %}

    </section>

    <h1 class="h1-list">Comentarios</h1>
    <!-- Buscar comentario por contenido, habrá un listener que vaya actualizando la lista  -->
    <input type="text" id="searchComents" placeholder="La mejor ..." oninput="actualizarListaComentarios()">

    <section class="listaComents">

        <h2>No se encontró ningún comentario coincidente ...</h2>

        {% if error %}
        <p id="error">{{ error }}</p>
        {% endif %}

    </section>

    {% elseif usuario['rol'] == 'GESTOR' %}

    <h1 class="h1-list">Actividades</h1>
    <!-- Buscar actividad por título, habrá un listener que vaya actualizando la lista  -->
    <input type="text" id="search" placeholder="Los Bolos ..." oninput="actualizarListaActividades()">

    <section class="listaActs">

        <h2>Ninguna actividad coincidente ...</h2>

        {% if error %}
        <p id="error">{{ error }}</p>
        {% endif %}

    </section>

    {% elseif usuario['rol'] == 'MODERADOR' %}

    <h1 class="h1-list">Comentarios</h1>
    <!-- Buscar comentario por contenido, habrá un listener que vaya actualizando la lista  -->
    <input type="text" id="searchComents" placeholder="La mejor ..." oninput="actualizarListaComentarios()">

    <section class="listaComents">

        <h2>Ningún comentario coincidente ...</h2>

        {% if error %}
        <p id="error">{{ error }}</p>
        {% endif %}

    </section>

    {% endif %}


</main>

{% endblock %}