/* Paleta de colores 

#ffffff 
#fffaeb 
#f0f0d8
#cfcfcf
#967c52

*/

/* HEADER */

body {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fffaeb;
    margin: 0;
    padding: 15px;
}

header {
    background-image: linear-gradient(140deg,
            hsl(69deg 53% 46%) 0%,
            hsl(71deg 52% 43%) 5%,
            hsl(73deg 51% 41%) 12%,
            hsl(75deg 51% 38%) 22%,
            hsl(78deg 50% 35%) 40%,
            hsl(80deg 49% 33%) 69%,
            hsl(82deg 49% 30%) 85%,
            hsl(84deg 48% 27%) 93%,
            hsl(87deg 47% 25%) 97%,
            hsl(89deg 47% 22%) 100%);
    padding: 10px 0;
    text-align: center;
    height: 150px;
    display: flex;
    border: 5px solid black;
    border-radius: 20px;
    margin: 10px;
}

.separador {
    margin-right: 15px;
}

.logo {
    float: left;
    margin-left: 80px;
    margin-right: 80px;
    padding: 0;
    margin-top: 10px;
    width: 130px;
    height: 130px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
    border: 5px solid #706149;
    transition: transform 0.5s ease-out;
}

.logo img:hover {
    border: 5px solid #ccba9c;
    transform: scale(1.1);
}

.titulo-nav h1 {
    font-size: 85px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: start;
    ;
}

.titulo-nav nav {
    width: fit-content;
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 40px;
}

.titulo-nav nav ul {
    margin: 0px;
    padding: 0px;
}

.titulo-nav nav ul li {
    display: inline-block;
    line-height: 80px;
    margin-right: 10px;
}

.titulo-nav nav ul li a {
    text-decoration: none;
    color: black;
}

.titulo-nav nav ul li a:hover {
    color: #967c52;
}

/* ASIDE NOTICIAS */

.liston-ultima-hora {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.liston-ultima-hora {
    font-size: 40px;
    color: #e79747;
}

.noticia h3 {
    font-size: 35px;
    color: white;
}

.noticia p {
    font-size: 35px;
}

.noticia img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 5px solid black;
    transition: transform 0.5s ease-out;
    margin-bottom: 50px;
}

.noticia img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    cursor: pointer;
}

/* ASIDE Y MAIN */

.container {
    display: flex;
    height: 100%;
}

aside {
    background-color: #879435;
    padding: 20px;
    width: 20%;
    border: 5px solid black;
    border-radius: 20px;
    margin: 10px;
}

aside h2 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside ul li {
    padding: 10px 0;
    border-top: 3px solid #ffffff;
}

aside ul li a {
    color: black;
    ;
    font-size: 30px;
}

aside ul li a:hover {
    color: #967c52;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f0f0d8;
    padding: 20px;
    width: 80%;
    border: 5px solid black;
    border-radius: 20px;
    margin: 10px;
}

.activity {
    background-color: #c9af87;
    padding: 20px;
    border: 5px solid black;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.activity a {
    display: inline-block;
    /* Asegura que el enlace ocupe solo el espacio necesario */
    text-decoration: none;
    /* Quita el subrayado del enlace */
}

.activity img {
    width: 100%;
    height: 320px;
    /* La altura se ajustará automáticamente para mantener la proporción */
    object-fit: cover;
    /* Escalar la imagen para cubrir el contenido del contenedor */
    border: 2px solid black;
    transition: transform 0.5s ease-out;
}

.activity img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    cursor: pointer;
}

.nombre_actividad {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente para mejorar la legibilidad */
    color: white;
    box-sizing: border-box;
    /* Incluye el padding en el ancho del elemento */
}

/* FOOTER */

footer {
    background-color: #7F653A;
    float: bottom;
    font-size: 40px;
    padding: 10px 0;
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    margin: 10px;
}