{% extends "plantilla.html" %}

{% block head %}

    <title>Actividad</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Micro+5&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../style/portada_layout.css">
    <link rel="stylesheet" href="../style/actividad.css">
    <link rel="stylesheet" href="../style/responsive.css">
    <link rel="stylesheet" href="../style/comentarios.css">
    <link rel="stylesheet" href="../style/carrousel.css">

    <script src="https://kit.fontawesome.com/b9c8f9a610.js" crossorigin="anonymous"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <link rel="icon" href="../icon/placeholder.jpg" type="image/x-icon">

{% endblock %}

{% block aside %}

<aside class="aside_actividad">
    <!-- Zona lateral con enlaces de interés -->
    <h2>Enlaces de Interés</h2>
    <ul>
        <li><a href="#">Equipo necesario</a></li>
        <li><a href="#">Consejos de seguridad</a></li>
        <li><a href="#">Rutas recomendadas</a></li>
    </ul>

    <h2>Última hora</h2>

    <div class="liston-ultima-hora">
        <span><i class="fa-solid fa-triangle-exclamation fa-fade"></i></span>
        <span><i class="fa-solid fa-triangle-exclamation fa-fade"></i></span>
        <span><i class="fa-solid fa-triangle-exclamation fa-fade"></i></span>
    </div>

    {% for noticia in noticias %}

        <div class="noticia">
            <h3>{{noticia['titulo']}}</h3>
            <p>{{noticia['descripcion']}}</p>
            <img src="{{noticia['img']}}" alt="noticia['titulo']">
        </div>

        <div class="liston-ultima-hora">
            <span><i class="fa-solid fa-triangle-exclamation fa-fade"></i></span>
            <span><i class="fa-solid fa-triangle-exclamation fa-fade"></i></span>
            <span><i class="fa-solid fa-triangle-exclamation fa-fade"></i></span>
        </div>
                
    {% endfor %}

</aside>

{% endblock %}

{% block shared %}

<main class="wrapper-actividad">

    <section class="encabezado_actividad">
        <h2>{{ actividad['titulo'] }}</h2>
        <ul>

            <li><a href="{{ actividad['url_ubicacion'] }}" target="_blank">Ubicación : {{ actividad['ubicacion'] }}</a></li>
            </li>
            <li>
                <p> Dificultad : {{actividad['dificultad']}} </p>
            <li>
                <p> Época recomendada : {{actividad['epoca']}} </p>
            </li>
            <li>
                <p> Desnivel acumulado : {{actividad['desnivel']}} m </p>
            </li>
            <li>
                <p> Distancia total : {{actividad['distancia']}} km </p>
            </li>
            <li>
                <p> Duración : {{actividad['duracion']}} h</p>
            </li>

        </ul>
    </section>

    <figure class="img1"><img src="{{actividad['foto_1']}}" alt="Actividad"></figure>

    <figure class="img2"><img src="{{actividad['foto_2']}}" alt="Actividad"></figure>

    <p class="p1">
        {{ actividad['descripcion'] }}
    </p>

    <section class="botones">
        <a href="{{redes['facebook']}}" target="_blank" class="fb"><span><i
                    class="fa-brands fa-facebook"></i></span></a>
        <a href="{{redes['twitter']}}" target="_blank" class="tw"><span><i
                    class="fa-brands fa-x-twitter"></i></span></a>
        <a href="/actividad_imprimir/{{act}}" class="imprimir"><span><i class="fa-solid fa-print"></i></span></a>
    </section>

    <section class="bonus">
        <h2> Ten en cuenta ... </h2>

        {% for bon in bonus %}
            <span>
                <figure><img src="{{ bon['img_bonus'] }}" alt="{{ bon['desc_bonus'] }}">
                    <figcaption>{{ bon['desc_bonus'] }}</figcaption>
                </figure>
            </span>
        {% endfor %}
        
    </section>

    <section class="carrousel">
        <h2>Imágenes de la ruta</h2>
        <div class="carrousel-container">
            <div class="carrousel-slide">
                {% for foto in fotos %}
                    <img src="{{ foto['img'] }}" alt="foto">
                {% endfor %}
            </div>
        </div>
        <button class="carrousel-btn carrousel-btn-prev"><i class="fa-solid fa-chevron-left"></i></button>
        <button class="carrousel-btn carrousel-btn-next"><i class="fa-solid fa-chevron-right"></i></button>
    </section>

    <section class="comentarios">

        <div class="titulo-comentarios">
            <h2>Comentarios</h2>
            <button type="button">
                <img class="btn-comentarios" src="../icon/pergamino.webp" alt="button image">
            </button>
        </div>

        <div class="contenido-comentarios hidden">

            <div class="form-comentarios">

                <form class="form-contenido" action="../guardar_comentario.php" method="POST">
                    <h3>Deja tu comentario:</h3>
                    <div class="form-group">
                        <label for="name">Nombre:</label>
                        <input type="text" id="name" name="name" placeholder="Juan de Dios" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Correo electrónico:</label>
                        <input id="email" name="email" placeholder="juanillo@gmail.es" required>
                    </div>

                    <div class="form-group">
                        <label for="comments">Comentarios:</label>
                        <textarea id="comments" name="comments" rows="3" placeholder="Increíble la ruta ..."
                            required></textarea>
                    </div>

                    <input type="hidden" name="act" value="{{ act }}">

                    <button type="submit">Enviar</button>
                </form>

            </div>

            <div class="array-comentarios">

                {% for comentario in comentarios %}
                    <div class="comentario">
                        <div class="autor">
                            <div class="img-avatar" style="background-color: rgb({{ comentario.red }}, {{ comentario.green }}, {{ comentario.blue }});">
                                <img src="../icon/avatar{{ comentario['avatar'] }}.jpg" alt="avatar">
                            </div>
                            <p>{{ comentario['nombre'] }} ({{ comentario['email'] }})</p>
                        </div>

                        <p>{{ comentario['comentario'] }}</p>

                        <p class="fechaYhora">{{ comentario['fecha'] }}</p>

                    </div>
                {% endfor %}

            </div>

        </div>

    </section>

</main>

{% endblock %}

{% block scripts %}

<script type="module" src="../js/visibilizar_comentarios.js"></script>
<script type="module" src="../js/comentarios.js"></script>
<script type="module" src="../js/comprueba_texto.js"></script>
<script type="module" src="../js/carrousel.js"></script>

{% endblock %}