<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block head %}


{% endblock %}
</head>

<body>

    <header>
        <a href="../home" class="logo"><img src="../icon/placeholder.jpg" alt="logo"></a>
        <div class="titulo-nav">
            <h1>Granarutas</h1>
            <nav>
                <ul>
                    <li><a href="../home">Inicio</a></li>
                    <span class="separador">|</span>
                    <li><a href="#">Actividades</a></li>
                    <span class="separador">|</span>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="decorador">

        </div>
    </header>

    <div class="container">

        {% block aside %}
        <aside>
            <!-- Zona lateral con enlaces de interés -->
            <h2>Enlaces de Interés</h2>

            <ul>
                <li><a href="#">Equipo necesario</a></li>
                <li><a href="#">Consejos de seguridad</a></li>
                <li><a href="#">Rutas recomendadas</a></li>
            </ul>

            <h2>Última hora</h2>

            <div class="liston-ultima-hora">
                <span><i class="fa-solid fa-triangle-exclamation fa-fade"></i></span>
                <span><i class="fa-solid fa-triangle-exclamation fa-fade"></i></span>
                <span><i class="fa-solid fa-triangle-exclamation fa-fade"></i></span>
            </div>

            {% for noticia in noticias %}

            <div class="noticia">
                <h3>{{noticia['titulo']}}</h3>
                <p>{{noticia['descripcion']}}</p>
                <img src="{{noticia['img']}}" alt="noticia['titulo']">
            </div>

            <div class="liston-ultima-hora">
                <span><i class="fa-solid fa-triangle-exclamation fa-fade"></i></span>
                <span><i class="fa-solid fa-triangle-exclamation fa-fade"></i></span>
                <span><i class="fa-solid fa-triangle-exclamation fa-fade"></i></span>
            </div>
                
            {% endfor %}

        </aside>
        {% endblock %}

        {% block shared %}


        {% endblock %}

    </div>

    <footer>
        <p>&copy; 2024 Granarutas. Todos los derechos reservados.</p>
        <p>Contacto: info@granarutas.com</p>
    </footer>

    {% block scripts %}

    {% endblock %}

</body>

</html>